.area--head {
	background: rgba(50,50,50,0.5);
	padding: $padding-general;
	border-bottom: 5px solid $color-primary;
	text-align: center;
}

@media #{$medium-up} {
	.area--head {
		padding: $padding-general * 2;
	}
}

@media #{$large-up} {
	.area--head {
		padding: $padding-general * 3;
	}
}